{% extends "base.html" %}
{% block content %}
<div class="container-log">
    <h1 id="logo-text1">NetWork Face</h1>
    <div class="content-menu-login">
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                <i class='bx bxs-user'></i>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}<br>
                {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                <i class='bx bxs-lock-alt'></i>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}<br>
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
            <p>{{ form.submit() }}</p>
            <p>Нет аккаунта?, <a class="text-in-the-menu-log" href="{{ url_for('register') }}">Нажми что бы зарегистрироваться!</a></p>
      </form>
    </div>
</div>
{% endblock %}