{% extends "base.html" %}
{% block content %}
<div class="container-reg">
    <h1 id="logo-text1">NetWork Face</h1>
    <div class="content-menu-register">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                <i class='bx bxs-user'></i>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}<br>
                {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                <i class='bx bxs-envelope' ></i>
                {{ form.email.label }}<br>
                {{ form.email(size=32) }}<br>
                {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                <i class='bx bxs-lock-alt'></i>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}<br>
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                <i class='bx bxs-lock-alt'></i>
                {{ form.password2.label }}<br>
                {{ form.password2(size=32) }}<br>
                {% for error in form.password2.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p id="form-submit-setting">
                <buttun type="submit">{{ form.submit() }}</buttun>
            </p>
            <p>Есть аккаунт?, <a class="text-in-the-menu-reg" href={{url_for('login')}}>Войти в систему</a>.</p>
        </form>
    </div>
</div>
{% endblock %}

